<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Add real modularization to Ninject.</h2>
                <hr class="light">
                <p class="text-faded">Build modular .NET applications and let Ninject.Features document your code structure automatically for you.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
